{{!-- navbar  --}}
<nav class="navbar is-fixed-top is-dark">
  <div class="container">
    {{!-- sharit logo  --}}
    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-bold is-size-3" href="/">
        Shar <span>it</span>
      </a>
      <div class="navbar-burger burger" data-target="nav-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    {{!-- navbar menu --}}
    <div id="nav-menu" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item is-active" href="/">
          Home
        </a>
        <a class="navbar-item" href="/profile/{{posts.currentUser}}">
          Profile
        </a>
        <a class="navbar-item" href="/logout">
          Log Out
        </a>
      </div>
    </div>
  </div>
</nav>


{{!-- background img  --}}
<section id="bg">
  <img src="./img/ballons.jpg" id="hero-bg" />
</section>

{{!-- slogan on top of the posts --}}
<section class="section is-size-2 has-text-white has-text-weight-bold has-text-centered slogan">
  Life is beautiful
  <br />
  Share It !
</section>



{{!-- start of main contents  --}}
<section id="main-content">
  {{!-- create new post form  --}}
  <div class="notification">
    <form class="field" id="post-from" action="/api/posts" method="post" enctype="multipart/form-data">
      {{!-- post text  --}}
      <textarea class="textarea" rows="2" placeholder="What would you like to share?" id="text" name="text"></textarea>
      <div class="buttons">
        <input type="reset">
        <input type="submit" id="reset">
        {{!-- post img  --}}
        <div>
          <label for="post_photo" class="btn"><i class="far fa-image"></i></label>
          <input id="post_photo" style="display:none" type="file" name="post_photo">
        </div>
        <div id="selected-img"></div>
      </div>
    </form>
  </div>



  {{!-- display posts  --}}
  <div class="grid">
    {{!-- grid-sizer required for the masonry working --}}
    <div class="grid-sizer"></div>

    {{#each posts}}
      <div class="grid-item">
        <div class="card">
          <header class="card-header">
            <a class="card-header-title author is-flex" href="/profile/{{User.dataValues.username}}" id="user-ID">
              {{!--HERE: add link to the authors avatar in the href--}}
              <figure class="avatar image is-32x32">
                <img class="is-rounded profile-avatar" src="{{User.dataValues.profile_photo}}" alt="profile photo">
              </figure>
              <div class="author-name">
                {{User.dataValues.username}}
              </div>
            </a>

            {{!--get post modified data from database         //need to format it --}}
            <time class="post-date" >{{dataValues.createdAt}}</time>
          </header>

          <div class="card-content">
            <div class="content">
              {{dataValues.text}}
              {{!-- get post post photo from database, if exists--}}
              {{#if dataValues.post_photo}}
              <img src="{{dataValues.post_photo}}" alt="post photo">
              {{/if}}
            </div>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item like" id={{dataValues.id}}><i class="far fa-heart 
            {{#if dataValues.isLikedBefore}}
            liked
            {{/if}}
            "> </i>&nbsp; &nbsp;<span>{{dataValues.likeNum}}</span></a>
            <a href="/post/{{dataValues.id}}" class="card-footer-item"><i class="far fa-comment"></i>&nbsp;&nbsp;{{dataValues.commentNum}}</a>
            {{!-- leads to user profile page  --}}
            <a href="/profile/{{User.dataValues.username}}" class="card-footer-item"><i
                class="far fa-user-circle"></i></a>
          </footer>
        </div>
      </div>

    {{/each}}
  </div> {{!-- end of grid container--}}
</section>

{{!-- link to css file  --}}
<link rel="stylesheet" href="./stylesheets/home.css" />

{{!-- masonry cdn --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>


<script type="text/javascript" src="js/home.js"></script>
<script type="text/javascript" src="js/main.js"></script>