{{!-- navbar  --}}
<nav class="navbar is-fixed-top is-dark">
    <div class="container">
        {{!-- sharit logo  --}}
        <div class="navbar-brand">
            <a class="navbar-item has-text-weight-bold is-size-3" href="/">
                Shar <span>it</span>
            </a>
            <div class="navbar-burger burger" data-target="nav-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        {{!-- navbar menu --}}
        <div id="nav-menu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" href="/profile/{{post.currentUser}}">
                    Profile
                </a>
                <a class="navbar-item" href="/logout">
                    Log Out
                </a>
            </div>
        </div>
    </div>
</nav>

{{!-- start of main contents  --}}
<section id="main-content">

    <div class="card" id="post-card" data-id="{{post.dataValues.id}}">
        <header class="card-header">
            <a class="card-header-title author is-flex" href="/profile/{{post.dataValues.User.dataValues.username}}">

                <figure class="avatar image is-32x32">
                    <img class="is-rounded" src="{{post.dataValues.User.dataValues.profile_photo}}" alt="profile photo">
                </figure>
                <div class="author-name">
                    {{post.dataValues.User.dataValues.username}}
                </div>
            </a>


            <time class="post-date" >{{post.dataValues.createdAt}}</time>
           
        </header>

        <div class="card-content">
            <div class="content image is-128x128">
                {{post.dataValues.text}}
                {{#if post.dataValues.post_photo}}
                <img src="{{post.dataValues.post_photo}}" alt="post photo" >
                {{/if}}
            </div>
        </div>
        <footer class="card-footer">
            <a href="" class="card-footer-item"><i class="far fa-heart"> {{dataValues.likeNum}}</i></a>
            {{!-- leads to user profile page  --}}
            <a href="/profile/{{post.dataValues.User.dataValues.username}}" class="card-footer-item"><i
                    class="far fa-user-circle"></i></a>
        </footer>
    </div>


    {{!-- something from bulma  --}}
    <article class="media">
        <div class="media-content">
            <div class="field">
                <p class="control">
                    <textarea class="textarea" id="comment-textarea" placeholder="Add a comment..."></textarea>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button" id="add-comment-button">Add Comment</button>
                </p>
            </div>
        </div>
    </article>
    {{#each comments}}
    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
                <img class="is-rounded" src="{{User.dataValues.profile_photo}}" alt="profile photo">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{User.dataValues.username}}</strong>
                    <br>
                    {{dataValues.text}}
                    <br>
                    {{dataValues.createdAt}}
                </p>
            </div>
            
        </div>
    </article>
    {{/each}}

    {{!-- end of bulma copy paste  --}}

</section>

{{!-- link to css file  --}}
<link rel="stylesheet" href="../stylesheets/post.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../js/post.js"></script>